<div class=" man-woman-img">

    <div class="box">

        {{#if isMale}}

        <h1 class="gender"> HOMME</h1>
        {{else}}
        <h1 class="gender"> FEMME</h1>
        {{/if}}
    </div>


</div>

<div class="filter-sort">
    <div class="filter">
        <div class="filter-button">
            <p>FILTER par</p>
            <p> nouveautes</p>
            <i id="filter-arrow" class="fas fa-sort-down"></i>
        </div>

    </div>
    <div class="sort">

        <div class="sort-button">
            <p>TREIER par</p>
            <p> nouveatues</p>
            <i id="sort-arrow" class="fas fa-sort-down"></i>
        </div>
    </div>

</div>

<div id="display-filter" class="display-filter-man">
    <div class="filter-category-man">
        <p>CATEGORIES</p>
        <hr>

        <p>Bracelets</p>

        <p>Sautoirs</p>
        <p>Sets</p>

    </div>
    <div class="filter-collections-man">
        <p>COLLECTIONS</p>
        <hr>
        <p>Lucky Medals</p>
        <p>Buddah</p>
        <p>Instinct</p>
        <p>Precieux</p>
        <p>Mini</p>
        <p>Apache</p>
    </div>
    <div class="filter-price-man">
        <p>Prix</p>
        <hr>
        <p>DE 25€ à 50€</p>
        <p>De 50€ à 100€</p>
        <p>De 100€ à 200€</p>
        <p>Plus de 200€</p>
    </div>
    <div class="filter-pierre-man">
        <p>Pierres</p>
        <hr>
        <p>Agate</p>
        <p>Amazonite</p>
        <p>Jade</p>
        <p>Jaspe</p>
        <p>Onyx</p>
    </div>
    <div class="filter-color-man">
        <p>Couleurs</p>
        <hr>
        <p>Bleu</p>
        <p>Noir</p>
        <p>Blanc</p>

    </div>

</div>
<div id="display-sort" class="display-sort-man">
    <div class="display-sort-man-content">
        <p>Nouveautés</p>
        <p>prix</p>
    </div>

</div>

<div class="grid-product-man">




    {{!-- <ul> --}}
        {{#each productArray}}
        <div class="product-index0">
            <a href="/product/{{this._id}}">
                <img class="product-img-index0" src="{{this.pictures.[0]}}"></a>
            <div class="product-description-index0">
                <a href="/product/{{this._id}}">{{this.productName}} </a>
                <p>{{this.price}}</p>

            </div>

        </div>
        {{/each }}

</div>