<section class="wish-list-session">
    <div class="retour">
        <a href="javascript:history.back()"><i class="fas fa-caret-left"></i></a>
        <a href="javascript:history.back()">RETOUR</a>
    </div>


    <h2>
        WELCOME BACK {{currentUser.preNom}}

    </h2>
    {{#if favourites}}
    {{#each favourites }}

    <hr class="wish-list-hr" align="right">

    </div>
    <div class="big-wish-container">
        <div class="wishlist-picture-box"><img class="wishlist-picture" src="{{this.pictures.[0]}}" alt="img"></div>
        <div class="wishlist-information-box">
            <h4>{{this.productName}}</h4>
            <h4>{{this.price}}</h4>
            <form action="/whishlist-remove/{{this._id}}" method="POST">
                <button class="retirer-button"> Retirer</button>

            </form>
        </div>


    </div>
    {{/each}}
    {{else}}
    <div class="empty-list-message">
        <h1>
            YOU DON'T HAVE ANY PRODUCTS <br> INSIDE THE WISHLIST
        </h1>
    </div>
    <div class="information-button">
        <a href="/">

            <button> click me</button>
        </a>
        <p>click to see our new products</p>
    </div>
    {{/if}}




</section>