<div class="image-index"></div>

<section class="index-section">

    <div class="newProducts-intro-title">
        <h2>LES NOUVEAUTÉS</h2>
    </div>
    <div class="newProducts-intro-filters">
        <div class="filter-all">
            <p>Tous</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="filter-all">
            <p>Bracelets</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="filter-all">
            <p>Colliers</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="filter-all">
            <p>Sautoirs</p>
            <i class="fas fa-sort-down"></i>
        </div>
        <div class="filter-all">
            <p>Bagues</p>
            <i class="fas fa-sort-down"></i>
        </div>
    </div>
    <div class="grid-product-man1">




        {{!-- <ul> --}}
            {{#each productArray}}
            <div class="product-index0">
                <a href="/product/{{this._id}}">
                    <img class="product-img-index0" src="{{this.pictures.[0]}}"></a>
                <div class="product-description-index1">
                    <a href="/product/{{this._id}}">{{this.productName}} </a>
                    <p>{{this.price}}</p>
                    <i class="far fa-heart"></i>
                </div>

            </div>
            {{/each }}

    </div>
    <div class="newProducts-intro-welcome-message">
        <h2>Bienvenue dans la nouvelle boutique en ligne d’APALA, alliant éclat et charme <br> pour le plaisir de
            porter ses
            bijoux ou bien de les offrir.</h2>
    </div>
    <hr class=" hr-index">
    <div class="newProducts-intro-catch-phrase">
        <p>Nos créations vous habilleront totalement… ou presque.</p>
    </div>



    <div class="block-insta-and-newsletter-form">

        <div class="instagram-API-display">
            <h3>>APALA sur Istagram</h3>
            <div class="ista-post-img"></div>

        </div>


        <div class="intro-newsletter-form">
            <h3>S'abonner à APALA</h3>
            <p>Profitez d’Apala en vous abonnant à notre newsletter pour recevoir les dernières <br> nouvelles,
                événements, promotions…</p>
            <div class="form-news-letter">
                <form action="/subscribe-newsletter" method="GET">
                    <button class="form-news-letter-button">S'incrire</button>
                </form>
            </div>
        </div>
    </div>
    <a data-easing="linear" href="#bazinga">
        <div class="scroll-up">
            <i class="fas fa-sort-up"></i>
            <p> RETOUR EN HAUT</p>
        </div>
    </a>
</section>

{{!--
<script>
    var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 1000000000000000000000000000000,
        speedAsDuration: true
    });
</script> --}}