<div class="retour">
    <a href="javascript:history.back()"><i class="fas fa-caret-left"></i></a>
    <a href="javascript:history.back()">RETOUR</a>
</div>

<div class="product-section">



    <div class="three-images-section">
        <img class="three-images-section-display" id="small-image-first" src="../images/{{productItem.pictures.[0]}}"
            alt="img" />
        <img class="three-images-section-display" id="small-image-second" src="../images/{{productItem.pictures.[1]}}"
            alt="img" />
        <img class="three-images-section-display" id="small-image-third" src="../images/{{productItem.pictures.[2]}}"
            alt="img" />
    </div>


    <div class="image-section">
        <img class="image-section-display" id="big1" src="../images/{{productItem.pictures.[0]}}" alt="img" />
    </div>
    <div class="description-section">
        <h1 class="productItem-productName">{{productItem.productName}}</h1>
        <p class="productItem-price">{{productItem.price}}</p>
        <a href="/size-guide">Guide des Tailles</a>
        {{#if isNotInWishlist}}
        <form action="/wishlist-add/{{productItem._id}}" method="GET">
            <button class="ajouter">AJOUTER À MA WISHLIST</button>
        </form>
        {{else}}
        <form action="/whishlist-remove/{{productItem._id}}" method="GET">
            <button class="remove">RETIRER DE MA WISHLIST</button>
        </form>

        {{/if}}
    </div>
</div>
<hr class="hr-section">
<div class="section-pierres">
    <h3> LES PIERRES UTILISÉES</h3>
</div>
<div class="a">
    {{#each productItem }}
    <div class="this-picture-stones">
        {{#each stones.[1].img}}
        <div class="this-picture"> <img src="{{this}}"> </div>
        {{/each}}

    </div>
    <div class="this-stones ">



        {{#each stones.[0].name}}
        <div class="this">{{this}}</div>
        {{/each}}

    </div>
</div>
{{/each}}